.example-style {
    min-width: 150px;
    max-width: 900px;
    width: 100%;
    background:#3E2723;
    border-radius: 5px; 
    padding: 20px;
    margin: auto; 
}

.mat-toolbar{
    padding: 10px 0;
}

h2{
    margin-right: 40px;
    padding-left: 29px;  
}
.button-Active-color{
   background-color: #FFd740;  
}

#badge{
    font-size:14px;
    color: white;
    margin-left: 40px; 
}