form {
  background: white;
  padding: 10px 40px;
}
fieldset {
  border:1px solid #795548; 
  padding: 20px 10px;
  margin-bottom: 10px; 
} 
legend {
  color: rgba(0, 0, 0, 0.54);
  padding: 5px 10px; 
}
.example-full-width {
  color: rgba(0, 0, 0, 0.54); 
  font-size: 12px; 
  border: none;  
  padding-left: 10px;
  width: 90%;
}
.buttons-row {
  margin: 10px 0 10px -6px;
}
h4{
  color: rgba(0, 0, 0, 0.54);
  padding-left: 10px; 
}

