@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-brown);
$my-app-warn:  mat-palette($mat-red, A700);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-warn);

@include angular-material-theme($my-app-theme);